* {
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
	font-family: var(--font-onest);
}

html,
body {
	display: flex;
	max-width: 100vw;
	min-height: 100vh;
	overflow-x: hidden;
	padding: 0 !important;
	flex-direction: column;
}

#__next {
	display: flex;
	max-width: 100vw;
	min-height: 100vh;
	flex-direction: column;
}
a {
	color: inherit;
	text-decoration: none;
}

img {
	position: static !important;
}
